body {
    min-width: 900px;
}

.container {
    max-width: 900px;
    margin: auto;
}

.formInput {
    float: right;
    width: 450px;
    padding: 8px 0;
    margin-left: 50px;
}

.mdl-list {
    float: left;
    width: 350px;
    overflow-y:auto;
}

.statusBarMessage {
    margin-top: 40px;
}

.statusMessage {
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

.mdl-textfield {
    float: left;
    width: 320px;
}

.mdl-button--mini-fab {
    margin-top: 15px;
    margin-left: 20px;
}
