<!--
    This is a template file that contains a basic Material Design List Item
    structure which will be use by jQuery to load in each time we need to create
    a new item.
-->
<!-- <div class="mdl-list__item"> -->
    <span class="mdl-list__item-primary-content">
        <span class="data-actorId" hidden>999</span>
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span class="data-actorName">Template Name</span>
    </span>
    <span class="mdl-list__item-secondary-content">
        <a class="mdl-list__item-secondary-action action-toggleStar" href="#">
            <i class="material-icons data-actorStarred">template</i>
        </a>
    </span>
<!-- </div> -->
